# Java sources
*.java          text diff=java linguist-detectable=true
*.gradle        text diff=java
*.gradle.kts    text diff=java

# These files are text and should be normalized (Convert crlf => lf)
*.css           text diff=css linguist-detectable=false
*.df            text
*.htm           text diff=html linguist-detectable=false
*.html          text diff=html linguist-detectable=false
*.js            text linguist-detectable=false
*.jsp           text linguist-detectable=false
*.jspf          text linguist-detectable=false
*.jspx          text linguist-detectable=false
*.properties    text
*.tld           text
*.tag           text
*.tagx          text
*.xml           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.jar           binary
*.so            binary
*.war           binary